// Main buttons
.btn {
  border: 2px solid $pink;
  display: inline-block;
  margin: 50px auto;
  background: $pink;
  border-radius: 50%;
  transition: all .5s ease-in-out;
  padding: 30px;
  &:hover {
    background: $gold;
    border: 2px solid $gold;
    @media (max-width: $fourth-breakpoint){
      background: $pink;
      border: 2px solid $pink;
    }
  }
  // Landing page and home buttons
  &--ripple:hover {
    animation: ripple 1s ease-in-out infinite;
    @media (max-width: $third-breakpoint){
      animation: none;
    }
  }
  // Landing page buttons
  &--main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;  
    padding: 100px;
    @media (max-width: $third-breakpoint) {
      width: auto;
      height: auto;
      padding: 10px;
      border-radius: 0;
      margin: 10px;
    }
  }
  // All square buttons
  &--square {
    display: block;
    border-radius: 0;
    margin: 10px auto;
    padding: 20px;
  }
  // All wide square buttons
  &--wide{
    width: 400px;
    @media (max-width: $second-breakpoint) {
      width: 200px;
    }
  }
  // All small buttons
  &--small {
    padding: 10px;
    color: $jet;
    background: $gold;
    border: 2px solid $gold;
  }
  // All yellow buttons
  &--yellow{
    background: $gold;
    color: $jet;
    border: 2px solid $gold;
    &:hover{
      background: $pink;
      color: $white;
      border: 2px solid $pink;
      @media (max-width: $third-breakpoint){
        color: $jet;
        background: $gold;
        border: 2px solid $gold;
      }
    }
  }
  &--thin {
    width: 100px;
    height: 100px;
    @media (max-width: $fourth-breakpoint) {
      width: 50px;
      height: 50px;
    }
    &:hover {
      @media (max-width: $fourth-breakpoint) {
        background: none;
        border: none;
      }  
    }
  }
}