html {
  font-size: 62.5%;
}
body {
  color: white;
  font-family: $body-font;
}
.header1, .header2, .header3 {
  font-family: $header-font;
}
.header1 {
  text-transform: uppercase;
  font-size: 10rem;
  text-align: center;
  text-shadow: 5px 5px 0 $light-blue,
                6px 6px 10px $pink;
  @media (max-width: $first-breakpoint) {
    font-size: 8rem;
  }
  @media (max-width: $fourth-breakpoint) {
    font-size: 6rem;
  }
}
.header2{
  font-size: 3rem;
  &--dark {
  color: $jet;
  text-align: center;
  }
  &--large {
    font-size: 5rem;
    text-align: center;
    margin-top: 0;
    text-shadow: 0 0 1px $jet;
    @media (max-width: $fourth-breakpoint) {
      font-size: 3.2rem;
    } 
  }
}
.header3 {
  font-size: 1.8rem;
  color: $pink;
  text-transform: uppercase;
}
.btn__txt {
  color: $white;
  font-size: 3rem;
  padding: 55px;
  text-decoration: none;
  font-family: $header-font;
  text-transform: uppercase;
  text-align: center;
  &--small {
    padding: 20px;
  }
  &--smaller {
    font-size: 1.5rem;
    padding: 0;    
  }
  @media (max-width: $third-breakpoint) {
    padding: 10px;
  }
  @media (max-width: $fourth-breakpoint) {
    font-size: 1.6rem;
  } 
}
.fa-bars, .fa-home, .fa-info {
  font-size: 3rem;
}
.paragraph {
  color: $jet;
  font-size: 1.8rem;
  text-align: center;
  transition: color .3s ease-in-out;  
  &--large {
    font-size: 2rem;
    line-height: 2.7;
  }
  &--left {
    text-align: left;
  }
  &--light {
    color: grey;
    line-height: 1.6;
  }
}
.input__txt {
  font-size: 1.5rem;
}
.fa-twitter, .fa-facebook, .fa-link, .fa-instagram {
  color: $pink;
  font-size: 3rem;
  margin: 0 10px;
  transition: color .3s ease-in-out;
}