$bright-pink: #ff47da;
$dusty-pink: #ff87ab;
$purple: rgb(61, 43, 61);
$jet: #312f2f;
$dark-blue: rgb(47, 46, 75);
$pink: #ea5eae;
$white: #fbfbfa;
$black: #1f1d13;
$light-blue: #72caf8;
$gold: #f7ea07;



$header-font: 'Varela Round', sans-serif;
$body-font: 'Hind Madurai', sans-serif;;